{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}
{% load myapptags %}
{% settingstag as settings %}

{% block seo %}
<title>Account Information | {{settings.title}}</title>

{% endblock seo %}


{% block content%}

<div class="content-body">
    <div class="container-fluid">
      
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-xxl-12 col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Your Account(s)</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive recentOrderTable">
                            <table class="table primary-table-bordered  verticle-middle table-responsive-lg">
                                <thead class="thead-primary">
                                    <tr>
                                        <th scope="col">Account</th>
                                        <th scope="col">Type</th>
                                        <th scope="col">Currency</th>
                                        <th scope="col">Balance</th>
                                        <th scope="col">Reg. Date</th>
                                        <th scope="col">Status</th>
                                        
                                        <th scope="col"></th>
                                    </tr>
                                </thead>
                                
                                <tbody>



                                    {% for rs in accounts %}
                                    <tr>

                                        <td><a href="{{rs.get_absolute_url}}">{% if rs.acc_no %} {{rs.acc_no}} {% else %} Unavailable {% endif %}</a></td>
                                        <td><a href="{{rs.get_absolute_url}}">{{rs.get_account_type_display}}</a></td>
                                        <td>
                                           {{rs.currency}}
                                        </td>
                                        <td>
                                           {{rs.balance|intcomma}}
                                        </td>
                                       

                                        <td>
                                            {% if rs.reg_date %}
                                            {{rs.reg_date|date:"M j, Y"}}
                                            {% else %}
                                            {{rs.created|date:"M j, Y"}}
                                            <!-- {{rs.created|date:"SHORT_DATETIME_FORMAT"}} -->
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if rs.status == 'Approved' %}
                                            <span class="badge badge-rounded badge-success">Active</span>
                                            {% else %}
                                            <span class="badge badge-rounded badge-warning">Pending</span>
                                            {% endif %}
                                        </td>

                                       
                                        <td>
                                            <div class="dropdown custom-dropdown mb-0">
                                                <div class="btn sharp btn-primary tp-btn" data-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                        xmlns:xlink="http://www.w3.org/1999/xlink" width="18px"
                                                        height="18px" viewBox="0 0 24 24" version="1.1">
                                                        <g stroke="none" stroke-width="1" fill="none"
                                                            fill-rule="evenodd">
                                                            <rect x="0" y="0" width="24" height="24" />
                                                            <circle fill="#000000" cx="12" cy="5" r="2" />
                                                            <circle fill="#000000" cx="12" cy="12" r="2" />
                                                            <circle fill="#000000" cx="12" cy="19" r="2" />
                                                        </g>
                                                    </svg>
                                                </div>
                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <a class="dropdown-item"
                                                        href="{{rs.get_absolute_url}}">Details</a>
                                                    <!-- <a class="dropdown-item"
                                                        href="{% url 'transfer_detail' rs.id %}">Details</a> -->
                                                    <!-- <a class="dropdown-item text-danger"
                                                        href="javascript:void(0);">Cancel</a> -->
                                                </div>
                                            </div>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








{% endblock content%}