{% extends 'front/base.html' %}
{% load static %}
{% load myapptags %}
{% settingstag as settings %}

{% block seo %}
<title>Reset Your Password | {{settings.title}}</title>

{% endblock seo %}


{% block content %}
{% load crispy_forms_tags %}



<div role="main" class="main">

    <!-- <section
        class="section section-concept section-no-border section-dark section-angled section-angled-reverse pt-5 m-0"
        style="background-image: url({% static '' %}assets2/img/landing/header_bg.jpg); background-size: cover; background-position: center; animation-duration: 750ms; animation-delay: 300ms; animation-fill-mode: forwards; min-height: 645px;">
        <div class="section-angled-layer-bottom section-angled-layer-increase-angle bg-light" style="padding: 8rem 0;">
        </div>
        <div class="container pt-lg-5 mt-5">
            <div class="row pt-3 pb-lg-0 pb-xl-0">
                <div class="col-lg-6 pt-4 mb-5 mb-lg-0">

                    <h1 class="font-weight-bold text-10 text-xl-12 line-height-2 mb-3">Open An Account</h1>
                    <p class="font-weight-light opacity-7 pb-2 mb-4">From a simple contact form to a more advanced with
                        Google reCaptcha enabled. Easy to configure trough the template files.</p>

                </div>
            </div>
        </div>
    </section> -->
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-dark">Reset Password</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a class="active">Accounts</a></li>
                        <!-- <li class="active">Open an Account</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="examples" class="container py-2">

        <div class="row">

            <div class="col-lg-12">

                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        <div class="featured-box featured-box-primary text-start mt-0">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Account Password Reset</h4>
                                <form method="post" class="form-fields-rounded">

                                    {% include 'front/alert.html' %}

                                    {% csrf_token %}

                                   {{form|crispy}}
                        
                              
                                <div class="row">
                                    <div class="form-group col">
                                    

                                        <button type="sumbit"
                                            class="btn btn-outline btn-rounded btn-primary  btn-with-arrow mb-2">Submit
                                            Registration<span><i class="fas fa-file-import"></i></span>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


</div>

{% endblock content %}