{% extends 'front/base.html' %}
{% load static %}
{% load myapptags %}
{% settingstag as settings %}

{% block seo %}
<title>Password Reset | {{settings.title}}</title>

{% endblock seo %}


{% block content %}
{% load crispy_forms_tags %}



<div role="main" class="main">

   
    <section class="page-header page-header-modern bg-color-light-scale-1 page-header-lg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 align-self-center p-static order-2 text-center">
                    <h1 class="font-weight-bold text-dark">Reset Password</h1>
                </div>
                <div class="col-md-12 align-self-center order-1">
                    <ul class="breadcrumb d-block text-center">
                        <li><a class="active">Accounts</a></li>
                        <!-- <li class="active">Open an Account</li> -->
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <div id="examples" class="container py-2">

        <div class="row">

            <div class="col-lg-12">

                <div class="row justify-content-md-center">
                    <div class="col-md-9">
                        <div class="featured-box featured-box-primary text-start mt-0">
                            <div class="box-content">
                                <h4 class="color-primary font-weight-semibold text-4 text-uppercase mb-3">Reset Password</h4>
                                <form method="post" class="form-fields-rounded">

                                    {% include 'front/alert.html' %}

                                    {% csrf_token %}

                                    <div class="row">
                                    <div class="form-group col-lg-12 form-fields-rounded">
                                       {{form|crispy}}
                                    </div>
                        
                              
                                <div class="row">
                                    <div class="form-group col">
                                    

                                        <button type="sumbit"
                                            class="btn btn-outline btn-rounded btn-primary  btn-with-arrow mb-2">Reset Password<span><i class="fas fa-file-import"></i></span>
                                        </button>
                                    </div>
                                </div>

                            </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>


</div>

{% endblock content %}