{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}
{% load myapptags %}
{% settingstag as settings %}

{% block seo %}
<title>Transaction Information | {{settings.title}}</title>

{% endblock seo %}


{% block content%}


<div class="content-body">
    <div class="container-fluid">

        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Transaction</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Receipt</a></li>
            </ol>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <!-- credit  -->
                {% if transfer.action == 'Credit' %}
                <div class="card mt-3">
                    <div class="card-header"><button class="btn btn-success">{{transfer.action}}</button> <span
                            class="float-right">
                            <strong>Channel:</strong> {{transfer.channel}}</span> </div>
                    <div class="card-body">
                        <div class="row mb-5">

                            <div class="mt-4 col-xl-6 col-lg-6 col-md-6 col-sm-6">

                                <div> <strong>Amount:</strong> ${{transfer.amount|intcomma}}</div>
                                <div><strong>Bank:</strong> {{transfer.bank}}</div>
                                <div><strong>Depositor:</strong> {{transfer.beneficiary}}</div>
                                <div><strong>Date:</strong> {{transfer.created|date:"F j, Y"}}</div>

                            </div>

                        </div>
                        <div class="table-responsive">
                            <table
                                class="table primary-table-bordered table-striped verticle-middle table-responsive-lg">
                                <thead class="thead-primary">
                                    <tr>
                                        <th class="center">Batch #</th>
                                        <!-- <th>Item</th> -->
                                        <th>Description</th>
                                        <th class="right">Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">{{transfer.code}}</td>
                                        <!-- <td class="left strong">Origin License</td> -->
                                        <td class="left">{{transfer.description}}</td>
                                        <td class="right"><strong>${{transfer.amount|intcomma}}.10</strong></td>
                                        <!-- <td class="center">1</td>
                                        <td class="right">$999,00</td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
                {% elif transfer.action == 'Debit' %}
                <div class="card mt-3">
                    <div class="card-header"><button class="btn btn-danger">{{transfer.action}}</button> <span
                            class="float-right">
                            <strong>Status:</strong> {{transfer.status}}</span> </div>
                    <div class="card-body">
                        <div class="row mb-5">
                            <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <h6>From:</h6>
                                <div> <strong>Amount: </strong> {{transfer.account.currency}} {{transfer.amount|intcomma}} </div>
                                <div> <strong>Account: </strong> {{transfer.account.get_account_type_display}} </div>
                                <div> <strong>Account No: </strong> {{transfer.account.acc_no}} </div>
                                <div> <strong>Date: </strong> {% if transfer.date %} {{transfer.date|date:"F j, Y"}} {% else %} {{transfer.created|date:"F j, Y"}} {% endif %} </div>
                              
                                
                                <!-- <div>: info@webz.com.pl</div>
                                <div>Phone: +48 444 666 3333</div> -->
                            </div>
                            <div class="mt-4 col-xl-3 col-lg-3 col-md-6 col-sm-6">
                                <h6>To:</h6>
                                <div> <strong>Account Name: </strong> {{transfer.beneficiary}}</div>
                                <div><strong>Account No: </strong> {{transfer.bank_acc}}</div>
                                <div><strong>Phone No: </strong> {{transfer.phone}}</div>
                                <div><strong>Email: </strong> {{transfer.email}}</div>
                                <div><strong>Bank Name: </strong> {{transfer.bank}}</div>
                                <div><strong>Bank Address: </strong> {{transfer.bank_branch}}</div>
                                <!-- <div><strong>Zip / Postal Code: </strong> {{transfer.zip}}</div> -->
                                <div><strong>Routing Number: </strong> {{transfer.routing}}</div>
                                <div><strong>Swift / BIC Code: </strong> {{transfer.swift}}</div>
                                <div><strong>Iban: </strong> {{transfer.iban}}</div>
                                <div><strong>Country: </strong> {{transfer.country.name}}</div>


                               
                            </div>
                            <div
                                class="mt-4 col-xl-6 col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-md-center justify-content-xs-start">
                                <div class="row align-items-center">
                                    <div class="col-sm-9">
                                        <div class="brand-logo mb-3">
                                            <img class="logo-abbr mr-2" src="{{settings.icon.url}}" style="width: 80px;"
                                                alt="">
                                            <img class="logo-compact" src="{{settings.icontext.url}}" style="width: 200px;"
                                                alt="">
                                        </div>
                                        <span>Batch #: <strong class="d-block">{{transfer.code}}</strong>
                                            <!-- <strong>1hashWffyhwAjskoEwXt83pHZxhLTr8H</strong></span><br> -->
                                        <!-- <small class="text-muted">{{transfer.get_absolute_url}}</small> -->
                                    </div>
                                    <div class="col-sm-3 mt-3"> <img src="{{transfer.qr_code.url}}"
                                            class="img-fluid width110"> </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table
                                class="table primary-table-bordered table-striped verticle-middle table-responsive-md">
                                <thead class="thead-primary">
                                    <tr>
                                        <th class="center">Batch #</th>
                                        <!-- <th>Item</th> -->
                                        <th>Date</th>
                                        <th>Description</th>
                                        <th class="right">Amount</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="center">{{transfer.code}}</td>
                                        <!-- <td class="left strong">Origin License</td> -->
                                        <td class="left">{{transfer.created|date:"F j, Y"}}</td>
                                        <td class="left">{{transfer.description}}</td>
                                        <td class="right"><strong>{{transfer.account.currency}} {{transfer.amount|intcomma}}.10</strong></td>
                                        <!-- <td class="center">1</td>
                                        <td class="right">$999,00</td> -->
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="mt-5">
                            <a class="btn btn-success" href="{% url 'generatepdf' transfer.pk %}">Download PDF</a>
                        </div>

                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>








{% endblock content%}