{% extends 'front/base.html' %}
{% load static %}



{% block seo %}
<title>Business Cash Management | {{settings.name}}</title>

{% endblock seo %}


{% block content %}



<div role="main" class="main">

    <section class="page-header page-header-modern page-header-md bg-transparent m-0">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-static order-2 ">
                    <h1 class="text-dark text-10"><strong>Cash Management Solutions</strong></h1> <span
                        class="sub-title text-dark">{{settings.title}}'s Cash Management experts want to be your trusted
                        financial advisor. We are committed to assisting our business partners in expanding their
                        businesses, and we can supply you with the products and services necessary to do so. As a result
                        of this dedication, all of the banks in our holding company offer a full range of innovative
                        collection, disbursement, and reporting services. {{settings.name}} Bank Cash Management
                        services are designed to work together to help your organization collect money faster, keep it
                        longer, and invest it sooner.</span>
                </div>

            </div>
        </div>
    </section>
    <hr class="m-0">

    <div class="container py-5 mt-3">

        <div class="row">
            <div class="col-lg-8">
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp"
                            data-appear-animation-delay="200"><strong class="font-weight-extra-bold">Disbursement
                                Services</strong>
                        </h2>
                    </div>

                    <ul class="list list-icons list-icons-style-2 list-icons-lg">
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Mid-morning totals and listings of checks
                            that will clear your account on a particular day are provided by Controlled Disbursement.
                            This will assist you in determining your company's financial position so that you may
                            optimize your investment options or decrease your line of credit borrowings.

                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>By only recognizing checks for which your
                            firm has submitted issue information, Positive Pay is meant to provide optimum security and
                            peace of mind against probable check fraud.
                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Direct Deposit is a safe and quick
                            solution for you to avoid the fees of paying your employees by check. Employees of business
                            clients who have their salaries direct deposited into a {{settings.name}} account are
                            eligible for the "Bank of Choice" program, which offers a package of free and reduced
                            services.
                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Wire Transfers allow you to send money to
                            any bank in the country at a lower cost via the internet. EFTPS is a quick, secure, and easy
                            way to pay federal and state taxes using a touch-tone phone, fax, or computer.
                        </li>
                    </ul>
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp"
                            data-appear-animation-delay="200"><strong class="font-weight-extra-bold">Collection
                                Services</strong>
                        </h2>
                    </div>
                    <p class="text-color-light-3 mb-4 appear-animation" data-appear-animation="fadeInUpShorter"
                        data-appear-animation-delay="600">Save for the future with advice and guidance from a dedicated
                        Relationship Manager. </p>

                    <ul class="list list-icons list-icons-style-2 list-icons-lg">
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>The use of a lockbox service speeds up the
                            collecting procedure and improves the amount of money available.

                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Cash Concentration allows you to reduce
                            idle cash in local depositories by swiftly and efficiently concentrating funds.
                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Receiving electronic payments with
                            remittance data, such as invoice information, discounts, and adjustments, is possible with
                            Electronic Receivables.
                        </li>
                    </ul>
                </div>
                <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="300">
                    <div class="overflow-hidden mb-2">
                        <h2 class="font-weight-normal text-7 mb-2 appear-animation" data-appear-animation="maskUp"
                            data-appear-animation-delay="200"><strong class="font-weight-extra-bold">Online
                                Services</strong>
                        </h2>
                    </div>

                    <ul class="list list-icons list-icons-style-2 list-icons-lg">
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Money Manager is a Windows-based online
                            system that allows you to view detailed account information, initiate transactions, and
                            reconcile your accounts.

                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Internet Balance & Detail Reporting is for
                            commercial customers who only need to check their account balance or view account detail
                            over the internet.
                        </li>
                        <li class="line-height-9 text-3-5 mb-1">
                            <i class="fas fa-check border-width-2 text-3"></i>Money Manager ACH is a feature of the
                            Money Manager program that allows you to create ACH debit and credit transactions.
                        </li>
                    </ul>
                </div>






            </div>

            <div class="col-md-4 col-lg-4 mt-4 mt-md-0">
                <h4 class="text-primary">Quick links</h4>
                <ul class="nav nav-list flex-column">
                    <li class="nav-item"><a class="nav-link " href="{% url 'b_checking' %}">Checking Account
                            Vision</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'b_wire' %}">International Wire Transfer</a>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'b_foreign' %}">Foreign Currency Account</a></li>

                </ul>
            </div>
        </div>

    </div>


    {% include 'front/openacc-partial.html' %}


</div>

{% endblock content %}