{% load static %}
{% load myapptags %}
{% settingstag as settings %}
<!DOCTYPE html>
<html>


<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

  

    {% block share %}
    {% endblock share %}

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{settings.iconfav.url}}" type="image/x-icon" />
    <link rel="apple-touch-icon" href="{{settings.iconfav.url}}">
    <script src="https://kit.fontawesome.com/e5c44e9272.js" crossorigin="anonymous"></script>


    {% block seo %}
    
    {% endblock seo %}

    <!-- canonical -->
    <link rel="canonical" href="{{request.build_absolute_uri}}">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">

    <!-- Web Fonts  -->
    <link id="googleFonts"
        href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800%7CShadows+Into+Light&amp;display=swap"
        rel="stylesheet" type="text/css">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/simple-line-icons/css/simple-line-icons.min.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/owl.carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/owl.carousel/assets/owl.theme.default.min.css">
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/magnific-popup/magnific-popup.min.css">

    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static '' %}assets2/css/theme.css">
    <link rel="stylesheet" href="{% static '' %}assets2/css/theme-elements.css">
    <!-- <link rel="stylesheet" href="{% static '' %}assets2/css/theme-blog.css">
    <link rel="stylesheet" href="{% static '' %}assets2/css/theme-shop.css"> -->

    <!-- Current Page CSS -->
    <link rel="stylesheet" href="{% static '' %}assets2/vendor/circle-flip-slideshow/css/component.css">

    <!-- Skin CSS -->
    <link id="skinCSS" rel="stylesheet" href="{% static '' %}assets2/css/skins/default.css">



    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="{% static '' %}assets2/css/custom.css">

    <!-- Head Libs -->
    <script src="{% static '' %}assets2/vendor/modernizr/modernizr.min.js"></script>

    {% block head %}

    {% endblock head %}

    

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <!-- <script async src="https://www.googletagmanager.com/gtag/js?id=G-SEP1T05Z5V"></script>
	<script>
		window.dataLayer = window.dataLayer || [];

		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());

		gtag('config', 'G-SEP1T05Z5V');
	</script> -->



</head>

<body data-plugin-page-transition class="loading-overlay-showing" data-loading-overlay
    data-plugin-options="{'hideDelay': 500, 'effect': 'default'}"></body>
<div class="loading-overlay">
    <div class="bounce-loader">
        
            <div class="bounce1"></div>
			<div class="bounce2"></div>
			<div class="bounce3"></div>
  
    </div>
</div>
<div class="body">

    {% include 'front/header.html' %}

    {% block content %}
    {% endblock content %}

    <footer id="footer" class="footer-top-border bg-color-light-scale-1">
        <div class="container">
            <!-- <div class="footer-ribbon"> <span>Get in Touch</span> </div> -->
            <div class="row py-5 my-4">
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <img src="{{settings.iconwhite.url}}" alt="" style="width: 250px;">
                    <p class="pe-1 ">Barclays Bank PLC and its affiliated firms provide private and international banking, lending, and investment solutions to its clients.</p>
                    <!-- <div class="alert alert-success d-none" id="newsletterSuccess"> <strong>Success!</strong> You've
                        been added to our email list. </div>
                    <div class="alert alert-danger d-none" id="newsletterError"></div>
                    <form id="newsletterForm" action="" method="POST" class="me-4 mb-3 mb-md-0">
                        <div class="input-group input-group-rounded"> <input
                                class="form-control form-control-sm bg-light" placeholder="Email Address"
                                name="newsletterEmail" id="newsletterEmail" type="email"> <button
                                class="btn btn-light text-color-dark" type="submit"><strong>GO!</strong></button>
                        </div>
                    </form> -->
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-lg-0">
                    <h5 class="text-3 mb-3 text-primary">Quick Links</h5>
                    <div>
                        <ul class="list list-icons list-icons-lg">
                            <li class="mb-1">
                                <i class="fas fa-arrow-right text-color-primary"></i>
                                <p class="m-0 "><a href="{% url 'aboutus' %}" class="">About Us</a></p>
                            </li>
                            <li class="mb-1">
                                <i class="fas fa-arrow-right text-color-primary"></i>
                                <p class="m-0 "><a href="{% url 'p_mortgage' %}" class="">Mortages</a></p>
                            </li>
                            <li class="mb-1">
                                <i class="fas fa-arrow-right text-color-primary"></i>
                                <p class="m-0 "><a href="{% url 'p_auto' %}" class="">Auto Loans</a></p>
                            </li>
                            <li class="mb-1">
                                <i class="fas fa-arrow-right text-color-primary"></i>
                                <p class="m-0"><a href="{% url 'career' %}" class="">Careers</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-4 mb-md-0">
                    <div class="contact-details">
                        <h5 class="text-3 mb-3 pb-1 text-primary">CONTACT US</h5>
                    <p class="text-8 text-color-light font-weight-bold"><a  class="text-decoration-none  ">{{settings.phone}}</a></p>
                    <p class="mb-2 ">International: <a  class="text-decoration-none ">{{settings.phone2}}</a></p>
                    <!-- <p class="mb-2">Fax: (222) 531-8999</p> -->
                    <ul class="list list-icons list-icons-lg">
                        <li class="mb-1"><i class="far fa-dot-circle text-color-primary " ></i><p class="m-0 "><span class="" >{{settings.address|safe}}</span> </p></li>
                        <li class="mb-1"><i class="far fa-envelope text-color-primary"></i><p class="m-0 "><span class="" >{{settings.email}}</span></p></li>
                    </ul>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="footer-copyright">
            <div class="copyright bg-dark py-4">
                <div class="container text-center py-2">
                    <p class="mb-0 text-2 text-white">Copyright  2022 - {{settings.title}} - All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
   
</div>




<!-- Vendor -->
<!-- <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script> -->
<script src="{% static '' %}assets2/vendor/jquery/jquery.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.appear/jquery.appear.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.easing/jquery.easing.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.cookie/jquery.cookie.min.js"></script>
<script src="{% static '' %}assets2/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.validation/jquery.validate.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.easy-pie-chart/jquery.easypiechart.min.js"></script>
<script src="{% static '' %}assets2/vendor/jquery.gmap/jquery.gmap.min.js"></script>
<script src="{% static '' %}assets2/vendor/lazysizes/lazysizes.min.js"></script>
<script src="{% static '' %}assets2/vendor/isotope/jquery.isotope.min.js"></script>
<script src="{% static '' %}assets2/vendor/owl.carousel/owl.carousel.min.js"></script>
<script src="{% static '' %}assets2/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="{% static '' %}assets2/vendor/vide/jquery.vide.min.js"></script>
<script src="{% static '' %}assets2/vendor/vivus/vivus.min.js"></script>


<!-- Theme Base, Components and Settings -->
<script src="{% static '' %}assets2/js/theme.js"></script>

<!-- Circle Flip Slideshow Script -->
<script src="{% static '' %}assets2/vendor/circle-flip-slideshow/js/jquery.flipshow.min.js"></script>
<!-- Current Page Views -->
<script src="{% static '' %}assets2/js/views/view.home.js"></script>

<!-- Theme Initialization Files -->
<script src="{% static '' %}assets2/js/theme.init.js"></script>


{% block script %}

{% endblock script %}

</body>


</html>