{% extends 'front/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static '' %}assets2/css/demos/demo-auto-services.css">
<link id="skinCSS" rel="stylesheet" href="{% static '' %}assets2/css/skins/skin-auto-services.css">

{% endblock head %}


{% block content %}
{% load myapptags %}
{% settingstag as settings %}



<div role="main" class="main">
				
    <section class="section custom-section-background position-relative border-0 overflow-hidden m-0 p-0">
        <div class="position-absolute top-0 left-0 right-0 bottom-0 animated fadeIn" style="animation-delay: 600ms;">
            <div class="background-image-wrapper custom-background-style-1 position-absolute top-0 left-0 right-0 bottom-0 animated kenBurnsToRight" style="background-image: url({% static '' %}assets2/images/background-2.jpg); background-position: center right; animation-duration: 30s; background-repeat: no-repeat;"></div>
        </div>
        <div class="container position-relative py-sm-5 my-5">
            <svg class="custom-svg-1 d-none d-sm-block" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 649 578">
                <path fill="#FFF" d="M-225.5,154.7l358.45,456.96c7.71,9.83,21.92,11.54,31.75,3.84l456.96-358.45c9.83-7.71,11.54-21.92,3.84-31.75
                    L267.05-231.66c-7.71-9.83-21.92-11.54-31.75-3.84l-456.96,358.45C-231.49,130.66-233.2,144.87-225.5,154.7z"/>
                <path class="animated customLineAnim" fill="none" stroke="#1C5FA8" stroke-width="1.5" stroke-miterlimit="10" d="M416-21l202.27,292.91c5.42,7.85,3.63,18.59-4.05,24.25L198,603" style="animation-delay: 300ms; animation-duration: 5s;"/>
            </svg>
            <div class="row mb-5 p-relative z-index-1">
                <div class="col-md-8 col-lg-6 col-xl-5">
                    <div class="overflow-hidden mb-1">
                        <h2 class="font-weight-bold text-color-grey text-4-5 line-height-2 line-height-sm-7 mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="800">It's your road, choose where to go.</h2>
                    </div>
                    <h1 class="text-color-dark font-weight-bold text-8 pb-2 mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1100">Buy the car you need with a loan you can afford</h1>
                    <!-- <a href="#" class="btn btn-primary custom-btn-border-radius custom-btn-arrow-effect-1 font-weight-bold text-3 px-5 btn-py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1300">
                        GET STARTED 
                        <svg class="ms-2" version="1.1" viewBox="0 0 15.698 8.706" width="17" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <polygon stroke="#FFF" stroke-width="0.1" fill="#FFF" points="11.354,0 10.646,0.706 13.786,3.853 0,3.853 0,4.853 13.786,4.853 10.646,8 11.354,8.706 15.698,4.353 "/>
                        </svg>
                    </a> -->
                </div>
            </div>
        </div>
    </section>

    <section class="section border-0 m-0 appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1200">
        <div class="container">
            <div class="row align-items-center justify-content-center">
                <div class="col-sm-9 col-md-12 col-lg-7 text-center text-lg-end mb-4 mb-lg-0">
                    <h2 class="font-weight-bold text-color-primary text-7 line-height-1 mb-1 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1700">Shop with confidence. Get prequalified today.</h2>
                    <p class="font-weight-bold text-4 mb-0 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1900">Takes minutes, with no impact to your credit score.</p>
                </div>
                <div class="col-lg-5 text-center text-lg-start ps-lg-4">
                    <a  class="btn btn-primary btn-primary custom-btn-border-radius font-weight-bold text-3 btn-px-5 btn-py-3 ms-lg-2 appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1500">Get Prequalified</a>
                </div>
            </div>
        </div>
    </section>

    <div class="container my-5 pt-md-4 pt-xl-0">
        
        <div class="row pb-2">
            <div class="col-lg-4 text-center px-lg-5 mb-5 mb-lg-0">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="250" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="{% static '' %}assets2/img/auto/icons/checklist.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-3 px-xl-5 my-2">Shop for a Car</h3>
                        <p>View exclusive partner programs, search for local dealerships, and more.</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 text-center px-lg-5 mb-5 mb-lg-0">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="500" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="{% static '' %}assets2/img/auto/icons/wheel-disk.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-xl-5 my-2 mx-4">Finance</h3>
                        <p>Apply for a loan and get a response in minutes. reference to a footnote</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 text-center px-lg-5">
                <a href="demo-auto-services-services-detail.html" class="text-decoration-none">
                    <div class="custom-icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorterPlus" data-appear-animation-delay="750" data-plugin-options="{'accY': -200}">
                        <div class="custom-icon-style-1 mb-4">
                            <img width="50" src="{% static '' %}assets2/img/auto/icons/car-safe.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-primary'}" />
                        </div>
                        <h3 class="text-transform-none font-weight-bold text-color-dark line-height-3 text-4-5 px-4 px-xl-5 my-2">Manage</h3>
                        <p>View your account, find out about maintenance, and more.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

  

</div>

{% endblock content %}



{% block script %}

<script src="{% static '' %}assets2/js/demos/demo-auto-services.js"></script>
{% endblock script %}