{% extends 'account/base.html' %}
{% load static %}
{% load humanize %}
{% load myapptags %}
{% settingstag as settings %}

{% block seo %}
<title>Transfer Funds | {{settings.title}}</title>

{% endblock seo %}


{% block content%}
{% load crispy_forms_tags %}
<!--**********************************
            Content body start
        ***********************************-->
<div class="content-body">
    <div class="container-fluid">
        {% include 'account/alert.html' %}
        <!-- Add Order -->

        <div class="page-titles">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Account</a></li>
                <li class="breadcrumb-item active"><a href="javascript:void(0)">Transfer</a></li>
            </ol>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-xl-9 col-lg-9">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Swift Cost Recovery Required</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
          
                            <form method="post" action="{% url 'confirmotp' %}">
                                {% csrf_token %}
                
                
                                <label>Enter Swift Cost Recovery</label>
                                <div class="form-group">
                                    <input type="text" name="swift"  class="form-control input-rounded"
                                        placeholder="******" hx-post="{% url 'checkotp' %}" hx-trigger="keyup changed" hx-target="#otpmessage">
                                        <div id="otpmessage">
                                            
                                        </div>
                                        
                                  
                                </div>
                                
                                
                                
                                <div class="justify-content-center text-center">
                                    <div class="form-group ">
                                        <button type="submit"class="btn btn-primary">Confirm</button>
                                    </div>
                                </div>
                
                            </form>
                
                          
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!--**********************************
            Content body end
        ***********************************-->
{% endblock content%}