
{% load static %}
<div class="card-header">
    <h4 class="card-title">Transfer in progress</h4>
</div>
<form action="">
    
</form>
<div class="card-body align-content-center justify-content-center " id="cardbody" style="height: 500px;">
  
   <div class="text-center justify-content-center" >
       <div class="mt-4">
           <img src="{% static '' %}assets/images/transfering.png" alt="" style="width: 300px;">
       </div>
       
    <div hx-get="{% url 'getnextcodepage' %}" hx-vals='{"pk": "{{data.pk}}", "bill":"{{bill.pk}}"}' hx-target="#codecard"  hx-trigger="load delay:20s" height="500px">
        <div class="progress mt-5" style="height:20px;">
          <div class="progress-bar progress-bar-animated bg-primary progress-bar-striped progress-animated" style="width: 100%; height:30px;" role="progressbar">
            
          </div>
          
        </div>
        <p  class="text-center"><span>Transfering Funds...</span></p>
      </div>
   </div>
    

       
</div>

