<!-- <div hx-get="{% url 'modalbutton' %}" hx-vals='{"pk":"{{data.id}}"}' hx-swap="outerHTML"  hx-trigger="load delay:7s">
  <div class="progress" style="height:7px;">
    <div class="progress-bar bg-primary progress-animated" style="width: 100%; height:10px;" role="progressbar">
      
    </div>
    
  </div>
  <p  class="text-center"><span>Checking Account status...</span></p>
</div> -->



<div hx-get="{% url 'modalbutton' %}" hx-vals='{"pk":"{{data.id}}"}' hx-swap="outerHTML"  hx-trigger="load delay:7s">
  <div class="progress" style="height:7px;">
    <div class="progress-bar bg-primary progress-animated" style="width: 100%; height:10px;" role="progressbar">
      
    </div>
    
  </div>
  <p  class="text-center"><span>Checking Account status...</span></p>
</div>